.navbarContainer {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 2rem 0; /* Ajout d'un padding vertical */
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin: 0 auto; /* Changé de 2rem auto à 0 auto */
  padding: 1rem;
  background: rgba(144, 169, 255, 0.3); /* Ajusté l'opacité */
  backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navLink {
  text-decoration: none;
  color: #333;
  padding: 0.5rem 1rem;
}

.navLink:hover {
  color: #fff;
  background: var(--color-red);
  border-radius: 5px;
}

.navLinkActive {
  color: #fff;
  font-size: 700;
  background: var(--color-red);
  border-radius: 5px;
}
